/*
Pour changer les petites spécificiés
*/
/* 
    Created on : 6 juin 2018, 19:14:41
    Author     : yannis.bourree
*/

/*----------------------------Accueil-----------------------------------*/
.bg-img {
  background: url(img/fond_temporaire.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="id"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.zone_co{
    margin-top: 10%;
    width: 50%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(150,150,150,0.8);
    border-radius: 10px;
}
#inputEmail{
    display: none;
}
#alert_index{
    display: none;
}
/*----------------------------Compte-----------------------------------*/

#avatar{
    padding: 2%;
}
#info{
    align-items: center;
    text-align: center;
}
#head{
    border-radius: 10px;
}
#jeux{
    margin-left: 40%;
    margin-bottom: 2%;
    width:20%;
}
#trier, #mon_classement{
    float: right;
}
#pagination_perso, #paginaton_general{
    position: relative;
    left:45%;
}
#body_compte{
    background: url("img/pois.jpg") no-repeat center;
    padding-top: 3%;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
#classement_joueur{
    margin-right: 5%;
}